* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcfcfc;
    color: #444;
}


.logo-header {
    padding: 10px;
    margin: 10px;
    margin-left: 150px;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
    border: 1px solid #eee;
}



header {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

header h1 {
    font-size: 1.5rem;
    color: #333;
}

.lateral {
    float: left;
    width: 200px;
    font-size: 0.9rem;
}

.lateral ul {
    list-style: none;
}

.lateral li {
    margin-bottom: 8px;
}

.lateral a {
    text-decoration: none;
    color: #666;
    transition: 0.3s;
}

.lateral a:hover {
    color: #000;
}


.content {
    margin-left: 240px;
    border-left: 1px solid #eee;
    padding-left: 40px;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    
}

.item-prato {
    margin-bottom: 25px;
}

.item-prato h3 {
    font-size: 1rem;
    color: #222;
    margin-bottom: 3px;
}

.item-prato p {
    font-size: 0.85rem;
    color: #888;
    max-width: 450px;
}


section img {
    float: right;
    width: 250px;
    margin-left: 20px;
}


footer {
    background-color: #e0e0e0;
    padding: 40px 20px;
    margin-top: 50px;
}

.container-footer {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; 


.logo-footer {
    display: inline-block;
    vertical-align: middle;
width: 180px;
   margin-right: 100px;
}

.contato {
    text-align: left;
display: inline-block;
vertical-align: middle;
}

.contato p {
    margin-bottom: 5px;
}